* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.wrapper {
    padding-top: 141px;
    text-align: center;
}

.filter-btn {
    font-size: 29px;
    line-height: 34px;
    color: #000000;
    border: 1px solid #9C9C9C;
    width: 258px;
    height: 58px;
    background-color: white;
    margin: 0 17px;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0 72px;
}

.filter-input {
    width: 404px;
    margin-right: 9px;
}

.filter-input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    outline: none;
    height: 5px;
    background-color: #B0B0B0;
}
.filter-input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: #060DB9;
    cursor: pointer;
    border-radius: 50%;
}



.filter-img__wrapper{
    width: 644px;
    margin: 0 auto;
}

.input-num {
    font-size: 30px;
}
